@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root {
  @apply h-[100dvh] w-full m-0;
}

:root {
  --background: #666;
  --background-faded: #888;
  --background-contrast: #ddd;
  --background-contrast-faded: #aaa;
}

html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
  opacity: 0.25;
}